body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(100, 9, 121, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
}

.container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  width: 120rem;
  border-radius: 30px;
  border: 10px solid rgb(168, 159, 159);
  font-size: 90px;
}
